/* CSS Reset Rule: This lets us normalize styling with CSS across browsers */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
blockquote,
figure,
hr,
article,
section,
aside {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: #007BFF; 
}

/* Mobile styles */
@media only screen and (max-width: 599px) {
    /* Hide mobile-specific content */
    .mobile-specific {
        display: none;
    }

    /* Show tablet and desktop-specific content */
    .tablet-desktop-specific {
        display: block;
    }
}

/* Tablet styles */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    /* Hide tablet-specific content */
    .tablet-specific {
        display: none;
    }

    /* Show mobile and desktop-specific content */
    .mobile-desktop-specific {
        display: block;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    /* Hide desktop-specific content */
    .desktop-specific {
        display: none;
    }

    /* Show mobile and tablet-specific content */
    .mobile-tablet-specific {
        display: block;
    }

    .desktop-specific:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow on hover on the desktop */
    }
}

/* Header styles */
#header-id {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto; 
}

#header-id img {
    margin: auto; 
    display: block;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
}

.content-class {
    border: 1px solid #ccc;
    padding: 10px;
}

main h2 {
    color: #007BFF;
}

main ul {
    list-style: none;
}

main li {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
